.hwSet{
height:250px;
width:450px;
}
.cover{
    position: relative;
}
.hot{
    text-align: start !important;
    position: absolute;
    top: 0;
    background-color: orangered;
    padding:7px 16px !important;
    color:white;
    font-weight: 700;
}
.new{
    text-align: start !important;
    position: absolute;
    top: 0px;
    background-color: green;
    padding:10px 15px !important;
    color:white;
    font-weight: 700;
}